<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<!-- 增加四项费:对话框 -->
<style>
	/* @font-face {  
	    font-family: glyphicons;  
	    font-size: small;
	    src: url('../../../static/3.3.5/fonts/fontawesome-webfont.woff') format('woff'); 
	}
	body { font-family: glyphicons, "Microsoft YaHei UI";}   */
</style>
<body >

<th:block th:fragment="dialog">

<div class="row clearfix">
		<div class="col-md-12 column">
				
			<!--  <a id="modal-306690" href="#modal-container-306690" role="button" class="btn" data-toggle="modal" type="hidden"></a> -->
				<div class="modal fade" id="modal-container-306690" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">×</button>
								<h4 class="modal-title" id="myModalLabel">增加费用</h4>
							</div>
							<div class="modal-body">
								<form class="form-horizontal" role="form">

									<!-- 费用类型 -->
									<div class="form-group">
										<label for="accountItemType" class="col-sm-2 control-label">类型</label>
										<div class="col-sm-10">
											<select class="form-control" id="accountItemType"
												name="itemType">
												<option value="1">交通费</option>
												<option value="2">通讯费</option>
												<option value="3">招待费</option>
												<option value="4">差旅费</option>
											</select>
										</div>
									</div>
									
									<!-- 费用归属 -->
									<div class="form-group">
										<label for="belongUserRole" class="col-sm-2 control-label">归属</label>
										<div class="col-sm-10">
											<select class="form-control" id="belongUserRole" name="belongUserRole">
													<option th:attr="data-bind-user-id='0',data-bind-role-id='0'">LM公司  <i class="glyphicon glyphicon-camera"></i> </option>
												<span th:if="${not #lists.isEmpty(osList)}" th:remove="tag">													
													<span th:each="osUser:${osList}" th:remove="tag">
														<option th:attr="data-bind-user-id=${osUser.id},data-bind-role-id=${osUser.role_id}" th:text="${osUser.nickname}+'('+${osUser.role_name}+')'">外部销售</option>
													</span>
												</span>
												<span th:if="${not #lists.isEmpty(isList)}" th:remove="tag">													
													<span th:each="isUser:${isList}" th:remove="tag">
														<option th:attr="data-bind-user-id=${isUser.id},data-bind-role-id=${isUser.role_id}" th:text="${isUser.nickname}+'('+${isUser.role_name}+')'">内部销售</option>
													</span>
												</span>
											</select>
										</div>
									</div>

									<!-- 金额 -->
									<div class="form-group">
										<label for="amount" class="col-sm-2 control-label">金额</label>
										<div class="col-sm-10">
											<input type="number" class="form-control" id="amount"
												name="amount" />
										</div>
									</div>
									
									<!-- 备注 -->
									<div class="form-group">
										<label for="comment" class="col-sm-2 control-label">备注</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="comment" name="comment" />
										</div>
									</div>
									
									
									

								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary"
									id="btn-save-four-fee">保存</button>
							</div>
						</div>

					</div>

				</div>

			</div>
	</div>
	
	</th:block>
	
</body>
</html>