<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<div th:include="/back/thymeleaf/common/_head2::headx('业绩列表')"	th:remove="tag"></div>
</head>
<body>
	<div class="container-fluid" style="margin-top: 20px;">
		<!-- 对话框 -->
		<!-- <div th:replace="back/thymeleaf/common/_discount_dialog::dialog" ></div> -->
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title" style="display:inline">业绩列表</h3>
						
					</div>
					<div class="panel-body">
						<table class="table">
							<thead>
								<!-- <tr>
									<th>编号</th>
									<th>名称</th>
									<th>品牌</th>
									<th>型号</th>
									<th>基本参数</th>
									<th>网示单价</th>
									<th>折减金额</th>
									<th>成交单价</th>
									<th>数量</th>
									<th>合计</th>
									<th>操作</th>
								</tr> -->
								<th>序号</th>
								<th>公司名称</th>
								<!-- <th>订单ID</th> -->
								<th>订单编号</th>								
								<!-- <th>合同ID</th> -->
								<th>合同编号</th>
								<th>订单金额</th>
								<th>合同金额</th>
								<th>业绩</th>
								<th>创建时间</th>
							</thead>
							<tbody>
								<tr th:each="item,iterState:${performanceList}">
									<td th:text="${iterState.count}">序号</td>
									<td th:text="${item.company_name}">公司名称</td>
									<!-- <td th:text="${item.order_id}">订单ID</td> -->
									<td th:text="${item.order_no}">订单编号</td>
									<!-- <td th:text="${item.id}">合同ID</td> -->
									<td th:text="${item.contract_no}">合同编号</td>
									<td th:text="'￥'+${item.orderAmount}">订单金额</td>
									<td th:text="'￥'+${item.contractAmount}">合同金额</td>
									
									<td th:text="${item.nickname}+'（'+${item.role_code}+'）：￥'+${item.amount}">用户（角色）业绩
										<!-- <table>
											<tbody>
											
											<span th:if="${#lists.isEmpty(item.order_account_company_list) && #lists.size(item.order_account_company_list)<=0}">
												<tr>
													<td th:text="'用户（角色）:￥0.00'">用户（角色）业绩</td>
												</tr>
											</span>
											<span th:if="${not #lists.isEmpty(item.order_account_company_list) && #lists.size(item.order_account_company_list)>0}">
												<tr th:each="accountPersonal:${item.order_account_company_list}">
													<td th:text="${accountPersonal.nickname}+'（'+${accountPersonal.role_code}+'）：￥'+${accountPersonal.amount}">用户（角色）业绩</td>
												</tr>
											</span>
											</tbody>
										</table> -->
									</td>
									<td th:text="${item.create_time}">创建时间</td>
																		
								</tr>								
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td><b>总计</b></td>
									<td><b>￥</b><b style="font-size:18px;color:red" id="" th:text="${orderTotalAmount}">订单金额总计</b></td>
									<td><b>￥</b><b style="font-size:18px;color:red" id="" th:text="${contractTotalAmount}">合同金额总计</b></td>
									<td colspan="3"><b>￥</b><b style="font-size:18px;color:red" id="" th:text="${performanceTotalAmount}">业绩总计</b></td>
								</tr>
								</hr>					
							</tbody>
						</table>
					</div>
					<!-- <div class="panel-footer">Panel footer</div> -->
				</div>
				<br>
				
			</div>
		</div>
	</div>
	
	
	<!-- 获取用户已经选商品列表  -->
	<script th:inline="javascript"> 
		/*<![CDATA[*/  
     
		
     
		/*]]>*/  
	</script>  
	
	<script th:src="@{/static/js/common/dateutil.js}"></script>
	<script th:src="@{/static/calendar/WdatePicker.js}"></script>
	
	
</body>
</html>