<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<div th:include="/back/thymeleaf/common/_head2::headx('进度列表')"	th:remove="tag"></div>
<link th:href="@{/static/jquery/progressbar/css/jquery-ui.css}" rel="stylesheet" />
<script th:src="@{/static/jquery/progressbar/js/jquery-ui.js}"></script>
  <!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script> -->
  <style>
  .ui-progressbar {
    position: relative;
  }
  .progress-label {
    position: absolute;
    left: 30%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }
  </style>
</head>
<body>
	<div class="container-fluid" style="margin-top: 20px;">
		<!-- 对话框 -->
		<!-- <div th:replace="back/thymeleaf/common/_discount_dialog::dialog" ></div> -->
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title" style="display:inline">提成列表</h3>
						
					</div>
					<div class="panel-body">
						<table class="table">
							<thead>
								<th>序号</th>
								<th>公司名称</th>
								<th>合同号</th>
								<th>合同电话</th>
								<th>市场费</th>
								<th>通讯费</th>
								<th>交通费</th>
								<th>招待费</th>
								<th>差旅费</th>
								<th>提成</th>
							</thead>
							<tbody>
								<tr th:each="contract,iterState:${contractList}">
									<td th:text="${iterState.count}">序号</td>
									<td th:text="${contract.company_name}">公司名称</td>
									<td th:text="${contract.contract_no}">合同号</td>
									<td th:text="${contract.contact_phone}">合同电话</td>
									<td th:text="${contract.market_fee}">市场费</td>
									<td th:text="${contract.communication_fee}">通讯费</td>
									<td th:text="${contract.transportation_fee}">交通费</td>
									<td th:text="${contract.entertainment_fee}">招待费</td>
									<td th:text="${contract.travel_expense_fee}">差旅费</td>
									<td th:text="${contract.pushmoney_price}">
										
										<!-- SKU信息 -->
										<!-- <table class="table">
											<thead>
												<th>SKU名称</th>
												<th>原始单价</th>								
												<th>折减后单价</th>
												<th>数量</th>
												<th>支付总金额</th>
											</thead>
											<tbody>
												<tr th:each="contractItem:${contractItemsList}">
													<span th:if="${contractItem.order_id eq contract.order_no}" th:remove="tag">
														<td th:text="${contract.order_no}"></td>
														<td th:text="${contractItem.sku_name}+'-'">SKU名称</td>
														<td th:text="'￥'+${contractItem.primitive_price}">原始单价</td>
														<td th:text="'￥'+${contractItem.pay_price}">折减后单价</td>
														<td th:text="${contractItem.num}">数量</td>
														<td th:text="'￥'+${contractItem.pay_price_total}">支付总金额</td>
													</span>
													<span th:if="${contract.order_no ne contractItem.order_id}" th:remove="tag"> 
														<td th:text="">SKU名称</td>
														<td th:text="">原始单价</td>
														<td th:text="">折减后单价</td>
														<td th:text="">数量</td>
														<td th:text="">支付总金额</td>
													</span>
												</tr>						
											</tbody>
										</table> -->
									</td>
								</tr>								
								<tr>
									<td>提成</td>
									<td colspan="6">（毛利=（合同支付总金额-市场费用-合同中商品最低限价总额）* （1-17%）；提成基数=销售毛利-四项费用）</td>
									<td><strong>￥</strong><strong style="font-size:18px;color:red" id="pushmoney-amount">提成</strong></td>
									<td></td>
								</tr>
								</hr>					
							</tbody>
						</table>
					</div>
					<!-- <div class="panel-footer">Panel footer</div> -->
				</div>
				<br>
				
			</div>
		</div>
	</div>
	
	
	<!-- 获取用户已经选商品列表  -->
	<script th:inline="javascript"> 
		/*<![CDATA[*/  
     
		
     
		/*]]>*/  
	</script>  
	
	<script th:src="@{/static/js/common/dateutil.js}"></script>
	<script th:src="@{/static/calendar/WdatePicker.js}"></script>
	
	<script type="text/javascript">
	
	</script>
	
</body>
</html>