<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<div th:include="/back/thymeleaf/common/_head2::headx('进度列表')"	th:remove="tag"></div>
<link th:href="@{/static/jquery/progressbar/css/jquery-ui.css}" rel="stylesheet" />
<script th:src="@{/static/jquery/progressbar/js/jquery-ui.js}"></script>
  <!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script> -->
  <style>
  .ui-progressbar {
    position: relative;
  }
  .progress-label {
    position: absolute;
    left: 30%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }
  .background-color{
  	background-color:yellow;
  }
  </style>
</head>
<body>
	<div class="container-fluid" style="margin-top: 20px;">
		<!-- 对话框 -->
		<!-- <div th:replace="back/thymeleaf/common/_discount_dialog::dialog" ></div> -->
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title" style="display:inline">提成比例列表</h3>
						
					</div>
					<div class="panel-body">
						<table class="table table-hover">
							<thead>
								<th>序号</th>
								<th>角色</th>
								<th>销售额完成比例（%）</th>
								<th>提成比例（%）</th>
							</thead>
							<tbody>
								<span th:each="item,iterState:${pushmoneyConfigList}" th:remove="tag">
									<tr th:class="${item.class_active!=null && item.class_active} ? 'background-color' : ''" th:title="${item.class_active!=null && item.class_active} ? '当前计算提成的比例' : ''">
										<td th:text="${iterState.count}">序号</td>
										<td th:text="${item.role_name}">角色</td>
										<td th:text="'>='+${item.completion_rate}">销售额完成比例</td>
										<td th:text="${item.pushmoney_rate}">提成比例</td>
									</tr>
								</span>								
								</hr>					
							</tbody>
						</table>
					</div>
					<!-- <div class="panel-footer">Panel footer</div> -->
					<div class="panel-footer"><b>注：</b>提成比例列表中<i class="background-color">黄色背景</i>的为本次提成的提成比例；如果列表中没有黄色背景的条目，则提成比例为零.</div>
				</div>
				<br>
				
			</div>
			<div class="col-md-12 column">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title" style="display:inline">提成</h3>
						
					</div>
					<div class="panel-body">
						<table class="table">
							<!-- <thead>
								<th></th>
								<th>公司名称</th>
								<th>合同号</th>
								<th>合同电话</th>
								<th>合同总金额</th>
								<th>市场费</th>
								<th>通讯费</th>
								<th>交通费</th>
								<th>招待费</th>
								<th>差旅费</th>
								<th>提成</th>
							</thead> -->
							<tbody>
								<tr>
									<th>业绩</th>
									<td th:text="'￥'+${performance_total_amount}">业绩</td>
								</tr>
								<tr>
									<th>四项费用</th>
									<td th:text="'￥'+${four_fee_total_amount}">四项费用</td>
								</tr>
								<tr>
									<th>市场费用</th>
									<td th:text="'￥'+${market_fee_total_amount}">市场费用</td>
								</tr>
								<tr>
									<th>提成</th>
									<td th:text="'￥'+${pushmoney_total_amount}">提成</td>
								</tr>								
								<!-- <tr>
									<td><b>提成总金额</b></td>
									<td colspan="6">（毛利=（合同支付总金额-市场费用-合同中商品最低限价总额）* （1-17%）；提成基数=销售毛利-四项费用）</td>
									<td></td>
									<td></td>
									<td></td>
									<td><strong>￥</strong><strong style="font-size:18px;color:red" id="pushmoney-amount" th:text="${pushmoney_total_price}">提成总金额</strong></td>
								</tr> -->
								</hr>					
							</tbody>
						</table>
					</div>
					<div class="panel-footer"><b>计算方式：</b>毛利=（合同支付总金额-市场费用-合同中商品最低限价总额）*（1-17%）；提成基数=销售毛利-四项费用；提成金额=提成基数*提成比例。</div>
				</div>
				<br>
				
			</div>
		</div>
	</div>
	
	
	<!-- 获取用户已经选商品列表  -->
	<script th:inline="javascript"> 
		/*<![CDATA[*/  
     
		
     
		/*]]>*/  
	</script>  
	
	<script th:src="@{/static/js/common/dateutil.js}"></script>
	<script th:src="@{/static/calendar/WdatePicker.js}"></script>
	
	<script type="text/javascript">
	
	</script>
	
</body>
</html>