<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecp.dao.AccountCompanyMapper">
  <resultMap id="BaseResultMap" type="com.ecp.entity.AccountCompany">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="cust_id" jdbcType="BIGINT" property="custId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="contract_id" jdbcType="BIGINT" property="contractId" />
    <result column="contract_no" jdbcType="VARCHAR" property="contractNo" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="bind_user_id" jdbcType="BIGINT" property="bindUserId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="company_fee_flag" jdbcType="TINYINT" property="companyFeeFlag" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="month" jdbcType="VARCHAR" property="month" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, cust_id, order_id, order_no, contract_id, contract_no, amount, type, create_time, 
    operator_id, operator_name, comment, bind_user_id, role_id, company_fee_flag,deleted,year,month
  </sql>
  
  <select id="getItemsByOrder" resultMap="BaseResultMap">
  	select * from account_company 
  	<where>
  		order_id=#{orderId} AND
  		order_no=#{orderNo} 
  		
  		<if test="itemTypeList!=null and itemTypeList.size&gt;0">
  			AND
  			type in 	
  			<foreach close=")" collection="itemTypeList" index="index" item="itemType" open="(" separator=",">  
            	#{itemType}  
        	</foreach>  		
  		</if>
  		
  	</where>
  </select>
  
  <select id="getItemsByOrderAndBindUser" resultMap="BaseResultMap">
  	select * from account_company 
  	<where>
  		order_id=#{orderId}   		   		
  		<if test="itemTypeList!=null and itemTypeList.size&gt;0">
  			AND
  			type in 	
  			<foreach close=")" collection="itemTypeList" index="index" item="itemType" open="(" separator=",">  
            	#{itemType}  
        	</foreach>  		
  		</if>
  		<if	test="userId!=-1">
  			AND
  			bind_user_id=#{userId}
  		</if>  		
  		<if test="roleIdList!=null and roleIdList.size&gt;0">
  			AND role_id in
  			<foreach close=")" collection="roleIdList" index="index" item="item" open="(" separator=",">  
            	#{item}  
        	</foreach>
  		</if>
  		
  	</where>
  </select>
  
  <select id="selectItems" resultMap="BaseResultMap">
		select ac.* from account_company ac 
						LEFT JOIN trade_orders o  on(o.id=ac.order_id) 
						LEFT JOIN user_extends a  on(o.extend_id=a.extend_id)				  
					   
		<where>
			o.deleted=1 AND o.yn=1 and o.extend_id is not NULL AND
			ac.cust_id is not NULL 	AND
			o.create_time&gt;=DATE_ADD(now(),INTERVAL #{orderTimeCond} MONTH)
			<if test="dealStateCond!=null and dealStateCond!='' and dealStateCond!='0'.toString()">
				AND 
				o.contract_state=#{dealStateCond}	
			</if>
			<if test="condValue!=null and condValue!=''">
				<choose>  			
					<when test="searchTypeValue==1">  					
						AND o.order_id LIKE concat(concat('%',#{condValue}),'%') 
					</when>
					<when test="searchTypeValue==2">
						AND o.contract_no LIKE concat(concat('%',#{condValue}),'%') 
					</when>
					<when test="searchTypeValue==3">
						AND o.name LIKE concat(concat('%',#{condValue}),'%') 
					</when>
					<when test="searchTypeValue==4">
						AND o.mobile LIKE concat(concat('%',#{condValue}),'%') 
					</when>
					<when test="searchTypeValue==5">
						AND a.company_name LIKE concat(concat('%',#{condValue}),'%') 
					</when>
					<when test="searchTypeValue==6">
						AND a.artificial_person_name LIKE concat(concat('%',#{condValue}),'%') 
					</when>
					<when test="searchTypeValue==7">
						AND a.contact_phone LIKE concat(concat('%',#{condValue}),'%') 
					</when>  			
				</choose>  						
			</if>
  		
			<if test="provinceName!=null and provinceName!=''">
				AND a.province=#{provinceName} 
			</if>  		
			<if test="cityName!=null and cityName!=''">
				AND a.city=#{cityName} 
			</if>
			<if test="countyName!=null and countyName!=''">
				AND a.county=#{countyName} 
			</if>
			
			<if test="itemTypeList!=null and itemTypeList.size&gt;0">
				AND
				type in 	
				<foreach close=")" collection="itemTypeList" index="index" item="itemType" open="(" separator=",">  
					#{itemType}  
				</foreach>  		
			</if>
			
			<if test="userId!=-1">
				AND ac.bind_user_id=#{userId}
			</if>
			<if test="roleIdList!=null and roleIdList.size&gt;0">
				AND ac.role_id in
				<foreach close=")" collection="roleIdList" index="index" item="item" open="(" separator=",">  
					#{item}  
				</foreach>
			</if>
			
			<!-- 数据范围 -->  		
			<if test="agentIdList!=null and agentIdList.size&gt;=0">
				<if test="agentIdList.size&gt;0">
					AND a.extend_id in
					<foreach close=")" collection="agentIdList" index="index" item="item" open="(" separator=",">
						#{item.cust_id}
					</foreach>
				</if>
				
				<if test="agentIdList.size==0">
					and (0&gt;1)
				</if>
							 
			</if>  		
			
		 </where>  	 
  	 	order by o.create_time DESC  	 
  	</select>
  
  <select id="selectAccountCompanyMap" resultType="map">
  	SELECT
		c.*, o.create_time AS order_time
	FROM
		account_company c
	LEFT JOIN trade_orders o ON c.order_id = o.id
	LEFT JOIN user_extends ue ON o.extend_id = ue.extend_id
	WHERE 
		1=1
		<if test="account_type!=null">
			and c.type = #{account_type}
		</if>
		<if test="order_id!=null and order_id!=''">
			and c.order_id = #{order_id}
		</if>
		<if test="start_time!=null and start_time!=''">
			and o.create_time &gt;= #{start_time}
		</if>
		<if test="end_time!=null and end_time!=''">
			and o.create_time &lt;= #{end_time}
		</if>
		<if test="provinceName!=null and provinceName!=''">
  			and ue.province=#{provinceName} 
  		</if>  		
  		<if test="cityName!=null and cityName!=''">
  			and ue.city=#{cityName} 
  		</if>
  		<if test="countyName!=null and countyName!=''">
  			and ue.county=#{countyName} 
  		</if>
		
  </select>
    <!-- 查询指定订单及分录类型的和 -->
  <select id="getAmountByOrderId" resultType="java.math.BigDecimal">
	SELECT
		IFNULL(SUM(ac.amount),0)
	FROM
		account_company ac	
	WHERE
		ac.order_id = #{orderId} and
		ac.type=#{accountItemType}		  	 
  </select>
  
  <!-- 查询范围内指定分录的总金额 -->
  <select id="searchAccountItemAmount" resultType="java.math.BigDecimal">
		select IFNULL(SUM(ac.amount),0) from account_company ac 
						LEFT JOIN trade_orders o  on(o.id=ac.order_id) 
						LEFT JOIN user_extends a  on(o.extend_id=a.extend_id)				  
					   
		<where>
			o.deleted=1 AND o.yn=1 and o.extend_id is not NULL AND
			ac.cust_id is not NULL	AND
			o.create_time&gt;=DATE_ADD(now(),INTERVAL #{orderTimeCond} MONTH)
			<if test="dealStateCond!=null and dealStateCond!='' and dealStateCond!='0'.toString()">
				AND 
				o.contract_state=#{dealStateCond}	
			</if>
			<if test="condValue!=null and condValue!=''">
				<choose>  			
					<when test="searchTypeValue==1">  					
						AND o.order_id LIKE concat(concat('%',#{condValue}),'%') 
					</when>
					<when test="searchTypeValue==2">
						AND o.contract_no LIKE concat(concat('%',#{condValue}),'%') 
					</when>
					<when test="searchTypeValue==3">
						AND o.name LIKE concat(concat('%',#{condValue}),'%') 
					</when>
					<when test="searchTypeValue==4">
						AND o.mobile LIKE concat(concat('%',#{condValue}),'%') 
					</when>
					<when test="searchTypeValue==5">
						AND a.company_name LIKE concat(concat('%',#{condValue}),'%') 
					</when>
					<when test="searchTypeValue==6">
						AND a.artificial_person_name LIKE concat(concat('%',#{condValue}),'%') 
					</when>
					<when test="searchTypeValue==7">
						AND a.contact_phone LIKE concat(concat('%',#{condValue}),'%') 
					</when>  			
				</choose>  						
			</if>
  		
			<if test="provinceName!=null and provinceName!=''">
				AND a.province=#{provinceName} 
			</if>  		
			<if test="cityName!=null and cityName!=''">
				AND a.city=#{cityName} 
			</if>
			<if test="countyName!=null and countyName!=''">
				AND a.county=#{countyName} 
			</if>
			
			<if test="itemTypeList!=null and itemTypeList.size&gt;0">
				AND
				type in 	
				<foreach close=")" collection="itemTypeList" index="index" item="itemType" open="(" separator=",">  
					#{itemType}  
				</foreach>  		
			</if>
			
			<if test="userId!=-1">
				AND ac.bind_user_id=#{userId}
			</if>
			<if test="roleIdList!=null and roleIdList.size&gt;0">
				AND ac.role_id in
				<foreach close=")" collection="roleIdList" index="index" item="item" open="(" separator=",">  
					#{item}  
				</foreach>
			</if>
			
			<!-- 数据范围 -->  		
			<if test="agentIdList!=null and agentIdList.size&gt;=0">
				<if test="agentIdList.size&gt;0">
					AND a.extend_id in
					<foreach close=")" collection="agentIdList" index="index" item="item" open="(" separator=",">
						#{item.cust_id}
					</foreach>
				</if>
				
				<if test="agentIdList.size==0">
					and (0&gt;1)
				</if>
							 
			</if>  		
			
		 </where>  	 
  	 	order by o.create_time DESC  	 
  	</select>
  	
  	<!-- 查询指定时间,指定用户,指定分录类型的所有条目 -->
  	<select id="getItemsByDateAndUser" resultType="map">
		select * from account_company ac 
		<where>
			ac.deleted=1 AND
			ac.year&gt;=#{startDateYear} AND
			ac.month&gt;=#{startDateMonth} AND
			ac.year&lt;=#{endDateYear}	AND
			ac.month&lt;=#{endDateMonth}
  			<!-- 分录类型条件 -->
			<if test="itemTypeList!=null and itemTypeList.size&gt;0">
				AND
				ac.type in 	
				<foreach close=")" collection="itemTypeList" index="index" item="itemType" open="(" separator=",">  
					#{itemType}  
				</foreach>  		
			</if>
			
			<!-- 用户ID条件:如果是-1时,查询所有用户 -->
			<if test="userId!=-1">
				AND ac.bind_user_id=#{userId}
			</if>
			
		 </where>  	 
  	 	 order by ac.create_time DESC  	 
  	</select>
  	
  	
  
</mapper>