<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecp.dao.CheckCycleMapper">
  <resultMap id="BaseResultMap" type="com.ecp.entity.CheckCycle">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="cycle_name" jdbcType="VARCHAR" property="cycleName" />
    <result column="year_name" jdbcType="VARCHAR" property="yearName" />
    <result column="cal_type" jdbcType="TINYINT" property="calType" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, cycle_name, year_name, cal_type, start_date, end_date, pid, sort
  </sql>
</mapper>