<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecp.dao.CustLockRelMapper">
  <resultMap id="BaseResultMap" type="com.ecp.entity.CustLockRel">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="cust_id" jdbcType="BIGINT" property="custId" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="master_slave_flag" jdbcType="TINYINT" property="masterSlaveFlag" />
    <result column="item_cat_id" jdbcType="BIGINT" property="itemCatId" />
    <result column="bind_user_id" jdbcType="BIGINT" property="bindUserId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, cust_id, area, channel, master_slave_flag, item_cat_id, bind_user_id, role_id
  </sql>
  
  <select id="getUsersByRoleName" resultType="map">
	SELECT user.id,user.username,user.nickname,role.role_id,role.role_name from user  
	LEFT JOIN user_role ON (user.id=user_role.user_id)  
	LEFT JOIN role ON(user_role.role_id=role.role_id) 
	<where>
		user.type=1  
		AND   
		user.deleted=1 
		AND   
		role.role_name=#{roleName}		
	</where>   
  </select>
  
  <select id="getUsersByRoleCode" resultType="map">
	SELECT user.id,user.username,user.nickname,role.role_id,role.role_name,role.role_code from user  
	LEFT JOIN user_role ON (user.id=user_role.user_id)  
	LEFT JOIN role ON(user_role.role_id=role.role_id) 
	<where>
		user.type=1  
		AND   
		user.deleted=1
		
		<if test="roleCodeList!=null and roleCodeList.size()>0">		
			AND
			<foreach collection="roleCodeList" index="index" item="item" open="("  separator="or"  close=")" >
				role.role_code=#{item}
			</foreach>
			   
			<!-- role.role_name=#{roleName} -->
		</if>
		 
				
	</where>   
  </select>
  
  <select id="getSalesByAgentId" resultType="map">
  	 SELECT user.id,user.username,user.nickname,cust_lock_rel.role_id,role.role_name,role.role_code from user 
  	 LEFT JOIN cust_lock_rel ON (user.id=cust_lock_rel.bind_user_id) 
  	 LEFT JOIN user_role on(user.id=user_role.user_id) 
  	 LEFT JOIN role ON(user_role.role_id=role.role_id AND cust_lock_rel.role_id=role.role_id)
  	 <where>
  	 	user.type=1 AND  
  	 	user.deleted=1  AND  	 	
  	 	cust_lock_rel.cust_id=#{agentId} AND
  	 	role.role_name=#{roleName} 
  	 </where> 
  
  </select>
  
  
  
  
  
</mapper>