<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecp.dao.FinalCustomerMapper" >
  <resultMap id="BaseResultMap" type="com.ecp.entity.FinalCustomer" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="added_area" property="addedArea" jdbcType="VARCHAR" />
    <result column="payment_address" property="paymentAddress" jdbcType="VARCHAR" />
    <result column="delivery_address" property="deliveryAddress" jdbcType="VARCHAR" />
    <result column="install_address" property="installAddress" jdbcType="VARCHAR" />
    <result column="linkman_name" property="linkmanName" jdbcType="VARCHAR" />
    <result column="linkman_phone" property="linkmanPhone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, name, phone, country, province, city, area, added_area, payment_address, delivery_address, 
    install_address, linkman_name, linkman_phone
  </sql>
</mapper>