<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecp.dao.LinkmanMapper">
  <resultMap id="BaseResultMap" type="com.ecp.entity.Linkman">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="department_desc" jdbcType="VARCHAR" property="departmentDesc" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="edu_level" jdbcType="VARCHAR" property="eduLevel" />
    <result column="rel_level" jdbcType="VARCHAR" property="relLevel" />
    <result column="attitude" jdbcType="VARCHAR" property="attitude" />
    <result column="schooltag" jdbcType="VARCHAR" property="schooltag" />
    <result column="work_address" jdbcType="VARCHAR" property="workAddress" />
    <result column="work_postcode" jdbcType="VARCHAR" property="workPostcode" />
    <result column="work_tel" jdbcType="VARCHAR" property="workTel" />
    <result column="work_fax" jdbcType="VARCHAR" property="workFax" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="postcode" jdbcType="VARCHAR" property="postcode" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="tendency" jdbcType="VARCHAR" property="tendency" />
    <result column="qqwechat" jdbcType="VARCHAR" property="qqwechat" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, name, sex, birthday, department, department_desc, position, edu_level, rel_level, 
    attitude, schooltag, work_address, work_postcode, work_tel, work_fax, email, address, 
    postcode, tel, mobile, tendency, qqwechat, order_id, deleted, create_time
  </sql>
  
  <!-- 根据联系人姓名查询 -->
  <select id="getLinkmanByLinkmanName" resultType="map">
  	 SELECT m.* 
  	 	FROM linkman m 	 		 
  	 	<where>  	 		 
  	 		m.deleted=1
  	 	<!-- 姓名条件 -->	
  	 	<if test="name!=null and name!='' ">
  			AND m.name LIKE concat(concat('%',#{name}),'%')	
  		</if>
  	 </where>  	 
  </select>
  
  <!-- 根据联系人电话查询 -->
  <select id="getLinkmanByLinkmanMobile" resultType="map">
  	 SELECT m.* 
  	 	FROM linkman m 	 		 
  	 	<where>  	 		 
  	 		m.deleted=1
  	 	<!-- 电话条件 -->	
  	 	<if test="mobile!=null and mobile!='' ">
  			AND m.mobile LIKE concat(concat('%',#{mobile}),'%')	
  		</if>
  	 </where>  	 
  	 	  	 
  </select>
  
  
</mapper>