<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecp.dao.LogSystemAccessMapper" >
  <resultMap id="BaseResultMap" type="com.ecp.entity.LogSystemAccess" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="log_id" property="logId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="action_status" property="actionStatus" jdbcType="TINYINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    log_id, create_time, action_status, user_id, user_name
  </sql>
</mapper>