<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecp.dao.UserExtendsMapper">
  <resultMap id="BaseResultMap" type="com.ecp.entity.UserExtends">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="extend_id" jdbcType="BIGINT" property="extendId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="business_licence_pic_src" jdbcType="VARCHAR" property="businessLicencePicSrc" />
    <result column="tax_registration_certificate_pic_src" jdbcType="VARCHAR" property="taxRegistrationCertificatePicSrc" />
    <result column="organization_pic_src" jdbcType="VARCHAR" property="organizationPicSrc" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="contact_email" jdbcType="VARCHAR" property="contactEmail" />
    <result column="artificial_person_name" jdbcType="VARCHAR" property="artificialPersonName" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="contact_address" jdbcType="VARCHAR" property="contactAddress" />
    <result column="account_state" jdbcType="INTEGER" property="accountState" />
    <result column="create_dt" jdbcType="TIMESTAMP" property="createDt" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="chinese_name" jdbcType="VARCHAR" property="chineseName" />
    <result column="chinese_short_name" jdbcType="VARCHAR" property="chineseShortName" />
    <result column="english_name" jdbcType="VARCHAR" property="englishName" />
    <result column="english_short_name" jdbcType="VARCHAR" property="englishShortName" />
    <result column="customer_type" jdbcType="VARCHAR" property="customerType" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="county_code" jdbcType="VARCHAR" property="countyCode" />
    <result column="added_area" jdbcType="VARCHAR" property="addedArea" />
    <result column="main_trade" jdbcType="VARCHAR" property="mainTrade" />
    <result column="first_trade" jdbcType="VARCHAR" property="firstTrade" />
    <result column="second_trade" jdbcType="VARCHAR" property="secondTrade" />
    <result column="office_address" jdbcType="VARCHAR" property="officeAddress" />
    <result column="office_postcode" jdbcType="VARCHAR" property="officePostcode" />
    <result column="office_tel" jdbcType="VARCHAR" property="officeTel" />
    <result column="office_email" jdbcType="VARCHAR" property="officeEmail" />
    <result column="register_name" jdbcType="VARCHAR" property="registerName" />
    <result column="register_fund" jdbcType="DECIMAL" property="registerFund" />
    <result column="register_address" jdbcType="VARCHAR" property="registerAddress" />
    <result column="register_postcode" jdbcType="VARCHAR" property="registerPostcode" />
    <result column="register_date" jdbcType="TIMESTAMP" property="registerDate" />
    <result column="customer_size" jdbcType="VARCHAR" property="customerSize" />
    <result column="customer_number" jdbcType="VARCHAR" property="customerNumber" />
    <result column="economic_type" jdbcType="VARCHAR" property="economicType" />
    <result column="investment_ways" jdbcType="VARCHAR" property="investmentWays" />
    <result column="company_number" jdbcType="VARCHAR" property="companyNumber" />
    <result column="is_listing" jdbcType="TINYINT" property="isListing" />
    <result column="is_transnational" jdbcType="TINYINT" property="isTransnational" />
    <result column="is_bloc" jdbcType="TINYINT" property="isBloc" />
    <result column="is_headquarters" jdbcType="TINYINT" property="isHeadquarters" />
    <result column="company_website" jdbcType="VARCHAR" property="companyWebsite" />
    <result column="customer_intro" jdbcType="VARCHAR" property="customerIntro" />
    <result column="audit_status" jdbcType="TINYINT" property="auditStatus" />
    <result column="audit_comment" jdbcType="VARCHAR" property="auditComment" />
    <result column="audit_user" jdbcType="BIGINT" property="auditUser" />
    <result column="audit_date" jdbcType="TIMESTAMP" property="auditDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    extend_id, user_id, business_licence_pic_src, tax_registration_certificate_pic_src, 
    organization_pic_src, company_name, contact_email, artificial_person_name, contact_phone, 
    contact_address, account_state, create_dt, deleted, chinese_name, chinese_short_name, 
    english_name, english_short_name, customer_type, country, province, province_code, 
    city, city_code, county, county_code, added_area, main_trade, first_trade, second_trade, 
    office_address, office_postcode, office_tel, office_email, register_name, register_fund, 
    register_address, register_postcode, register_date, customer_size, customer_number, 
    economic_type, investment_ways, company_number, is_listing, is_transnational, is_bloc, 
    is_headquarters, company_website, customer_intro, audit_status, audit_comment, audit_user, 
    audit_date
  </sql>
  
  <!--
  
  		map.put(1, "companyName");
		map.put(2, "artificialPersonName");
		map.put(3, "contactPhone");
   
   -->
  <!-- 按条件查询范围内代理商 -->
  <select id="searchUserAgent" resultMap="BaseResultMap">
  	 select a.* 
  	 		from user_extends a 
  	 <where>
  	 	1=1 
  	 	<!-- 查询条件 -->
  		<if test="condValue!=null and condValue!=''">
  			<choose>  			
	  			<when test="searchTypeValue==1">  	<!-- 公司名称条件 -->				
	  				AND a.company_name LIKE concat(concat('%',#{condValue}),'%') 
	  			</when>
	  			<when test="searchTypeValue==2"> <!-- 法人姓名 -->
	  				AND a.artificial_person_name LIKE concat(concat('%',#{condValue}),'%') 
	  			</when>
	  			<when test="searchTypeValue==3">
	  				AND a.contact_phone LIKE concat(concat('%',#{condValue}),'%') 
	  			</when>
  			</choose>  						
  		</if>
  		
  		<!-- 地区条件 -->
  		<if test="provinceName!=null and provinceName!=''">
  			AND a.province=#{provinceName} 
  		</if>  		
  		<if test="cityName!=null and cityName!=''">
  			AND a.city=#{cityName} 
  		</if>
  		<if test="countyName!=null and countyName!=''">
  			AND a.county=#{countyName} 
  		</if>
  		
  		<!-- 数据范围 条件 -->  		
  		<if test="agentIdList!=null and agentIdList.size&gt;=0">
  			<if test="agentIdList.size&gt;0">
  				AND a.extend_id in
  				<foreach close=")" collection="agentIdList" index="index" item="item" open="(" separator=",">
  					#{item.cust_id}
  				</foreach>
  			</if>
  			
  			<if test="agentIdList.size==0">
  				and (0&gt;1)
  			</if>
  			   			 
  		</if>
  		
  		<!-- 审核状态条件 -->
  	 	<if test="auditStatus!=null and auditStatus!='' and auditStatus!='0'.toString()">
  			AND 
  			a.audit_status=#{auditStatus}	
  		</if> 
  		
  	 </where>  	 
  	 order by a.create_dt
  	 
  </select>
  
  
  
  
</mapper>